@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Basic Styling */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

/* Navbar */
.navbar{
    display: flex;
    padding: 15px;
    box-sizing: border-box;
    background-color: #1e81b0;
    justify-content: space-between;
}

.navbar a{
    margin-left: 16px;
    text-decoration: none;
    color: white;
    padding: 6px;
}

.navbar a:hover{
    color: black;
}